select[disabled] option[selected] { color:white; background-color: navy;}
body {
	font-family: verdana;
	font-size: 12px;	
}
table {
	border-collapse: collapse;
}
input, select {
	width: 250px;
}
table, th, td, div {
	border: 1px solid black;
}
.datatable, div {
	width: 100%;
}
.odd {
	background: #ccc;
}